.editor {
    width: 100%;
    min-height: 100%;
    background: #fff;
    font-size: 1.25em;
    box-shadow: 0px 0px 20px 10px rgb(0 0 0 / 45%);
}

.content {
  padding: 1em;
  padding-bottom: 0;
  background: #f5f5f5;
}

.bottombar {
  display: flex;
  padding: 0.25em;
  background: #f5f5f5;
  justify-content: flex-end;
}

.topbar {
  display: flex;
  border-bottom: 1px solid #c3c3c3;
  padding: 0.25em;
  justify-content: space-between;
  box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 5%);
}

.topbarSection {
  display: flex;
  gap: 0.25em;
}

.toggleButton, .actionButton {
  display: flex;
  padding: 0.25em;
  cursor: pointer;
  justify-content: center;
  user-select: none;
  align-self: center;
}

.toggleButton {
  font-size: 1.25rem;
}

.toggleButton.medium {
  width: 2.5em;
}

.toggleButton {
  color: black;
  background: #fff;
  font-weight: bold;
  /* border: 1px solid #c3c3c3;
  box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 10%); */
}

.toggleButton:hover {
  background: #d7d7d7;
  /* border: 1px solid #c3c3c3;
  box-shadow: none; */
}

.toggleButton.active {
  background: #353535;
  color: #fff;
  /* border: 1px solid #353535;
  box-shadow: inset 2px 2px 0px 0px rgb(0 0 0 / 50%); */
}

.actionButton:hover {
  background: #d7d7d7;
  box-shadow: none;
}

.element {
  width: 100%;
  line-height: 1.5;
}
