.editor {
    width: 100%;
    min-height: 100%;
    background: #fff;
    font-size: 1.25em;
    box-shadow: 0px 0px 20px 10px rgb(0 0 0 / 45%);
}

.content {
  padding: 1em;
}

.element {
  width: 100%;
  line-height: 1.5;
}

.topbar {
  display: flex;
  border-bottom: 1px solid #c3c3c3;
  padding: 0.25em;
  justify-content: space-between;
  box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 5%);
}

.button {
  display: flex;
  padding: 0.25em;
  cursor: pointer;
  color: black;
  background: #fff;
  font-weight: bold;
}

.button:hover {
  background: #c3c3c3;
}

.button.active {
  background: #353535;
  color: #fff;
}

.icon {
  vertical-align: bottom;
}
