@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=block");

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #353535;
}

.containerInner {
  width: 100%;
  max-width: 800px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 256px;
}

.title {
  position: relative;
  display: flex;
  color: #9F9F9C;
  font-size: 2em;
  font-family: 'Alegreya';
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  text-shadow: 
    0px -2px 0px #1E1E1E, /* top center */
    2px -2px 0px #1E1E1E, /* top right */
    2px 0px 0px #1E1E1E, /* mid right */
    2px 2px 0px #1E1E1E, /* bottom right */
    0px 2px 0px #1E1E1E, /* bottom center */
    -2px 2px 0px #1E1E1E, /* bottom left */
    -2px 0px 0px #1E1E1E, /* mid left */
    -2px -2px 0px #1E1E1E; /* top left */
}

.logo {
  position: absolute;
  display: flex;
}

.logoJaw {
  position: absolute;
}

.logoHead {
  position: absolute;
}

.footer {
  display: flex;
  padding: 1em 0em;
  justify-content: center;
}

.credits {
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  display: flex;
  background: #F2DCC4;
  border-radius: 64px;
  overflow: hidden;
  align-items: center;
  padding-right: 1em;
  vertical-align: bottom;
  flex-direction: row;
  justify-content: center;
  color: black;
  transition: opacity 0.2s ease-in-out;
}

.credits:hover {
  opacity: 1;
}